:root{
	--color-0: #0000;
	
	--color-p1: #FFE332;
	--color-p2: #483E20;
	--color-p3: #CDB05A;
}

.color-0{
	color: var(--color-0);
}

.color-p1{
	color: var(--color-p1);
}

.color-p2{
	color: var(--color-p2);
}